* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Farver */
    --sunset-orange: rgba(255, 127, 62, 1); 
    --lemon: rgba(255, 213, 100, 1);
    --ocean-blue: rgba(0, 38, 102, 1);
    --lighter-blue: rgba(42, 98, 154, 1);
    --white: #ffffff;
    --black: #000;

        /* typografi */
    --font-family: "Bricolage Grotesque", sans-serif;
    --font-size-titel-2: 38px;
    --font-size-titel-3: 32px;
    --font-size-broed: 28px;
    --font-size-broed-2: 20px;
    --font-size-broed-3: 16px;

    /* font weight */
    --font-weight-extra-light: 200;
    --font-weight-regular: 400;
    --font-weight-semibold: 500;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
}
#nav-bar {
    display: flex;
    width: 100%;
    padding: 32px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    font-family: var(--font-family);
    font-size: var(--font-size-broed-2);
}
#logo {
 height: 50px;
}
#menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 40px;
    color: #FFF;
}

#hero-section {
    background: url(/img/hero-image.png) lightgray 0.055px 0px / 100% 100.174% no-repeat;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 200px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
    height: 800px;
}
#hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    font-family: var(--font-family)
}

#hero-headers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
#hero-headers h1 {
    color: #FFF;
    font-size: var(--font-size-titel-2);
    font-weight: var(--font-weight-regular);
}

#hero-headers p {
    color: #FFF;
    font-size: var(--font-size-titel-3);
    font-weight: var(--font-weight-extra-light);
}

.button {
    display: flex;
    width: 186px;
    height: 60px;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-family: var(--font-family);
    font-size: 28px;
    font-weight: var(--font-weight-regular);
}

#koeb-nu {
    background: var(--sunset-orange, #FF7F3E);
    border: none;
}

#laer-mere {
    box-sizing: border-box;
    border: 3px solid #FFF;
    background: none;
    color: white;
}

#buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}