* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Farver */
    --sunset-orange: rgba(255, 127, 62, 1); 
    --lemon: rgba(255, 213, 100, 1);
    --ocean-blue: rgba(0, 38, 102, 1);
    --lighter-blue: rgba(42, 98, 154, 1);
    --white: #ffffff;
    --black: #000;

        /* typografi */
    --font-family: "Bricolage Grotesque", sans-serif;
    --font-size-titel-2: 38px;
    --font-size-titel-3: 32px;
    --font-size-broed: 28px;
    --font-size-broed-2: 20px;
    --font-size-broed-3: 16px;

    /* font weight */
    --font-weight-extra-light: 200;
    --font-weight-regular: 400;
    --font-weight-semibold: 500;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
}
#nav-bar {
    display: flex;
    width: 100%;
    padding: 32px;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    font-size: var(--font-size-broed-2);
    background: none;
    position: fixed;
    top: 0;
    overflow: hidden;
}
#logo {
 height: 50px;
}

#logo:hover {
    opacity: 50%;
    cursor: pointer;
}

#menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 40px;
    color: #FFF;
}

#menu li:hover{
    opacity: 50%;
    cursor: pointer;
}

#hero-background {
    background: url(/img/hero-image1.png) lightgray 0.055px 0px / 100% 100.174% no-repeat;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}
#hero-section {
    display: flex;
    padding: 200px 300px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
    height: 800px;
}
#hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    font-family: var(--font-family)
}

#hero-headers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
#hero-headers h1 {
    color: #FFF;
    font-size: var(--font-size-titel-2);
    font-weight: var(--font-weight-regular);
}

#hero-headers p {
    color: #FFF;
    font-size: var(--font-size-broed-2);
    font-weight: var(--font-weight-extra-light);
}

.button {
    display: flex;
    width: 186px;
    height: 60px;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-family: var(--font-family);
    font-size: 28px;
    font-weight: var(--font-weight-regular);
}

.button:hover {
  transform: translateY(-1px);
  opacity: 50%;
  cursor: pointer;
}

#koeb-nu {
    background: var(--sunset-orange, #FF7F3E);
    border: none;
}

#laer-mere {
    box-sizing: border-box;
    border: 3px solid #FFF;
    background: none;
    color: white;
}

#buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
#info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
    flex-shrink: 0;
    align-self: stretch;
    padding: 32px;
    height: 800px;
}

#color-select {
    display: flex;
    height: 756px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#color-select #colors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

#color-select .color {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.2s;
}

#color-select .color.pressed {
  border: 2px solid black;
  transform: scale(1.1);
}

#color-select #red {
    background-color: rgb(237,193,190);
}

#color-select #green {
    background-color: rgb(212,211,199);
}

#color-select #white {
    background-color: rgb(243,236,231);
}

#color-select #lavender {
    background-color: rgb(229,205,213);
}


#product-title {
    color: black;
    font-size: var(--font-size-titel-2);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family);
}

#info {
    display: flex;
    width: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

#info ul {
    color: #000;
    font-family: "Bricolage Grotesque";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

#info h3 {
    color: #000;
    font-family: "Bricolage Grotesque";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.857%
}

#info #laer-mere {
    color: #000;
    border-color: #000;
}

#transport {
    display: flex;
    height: 800px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    background-color: var(--sunset-orange);
}

#transport-text {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex: 1 0 0;
    align-self: stretch;
    padding: 150px;
}

#transport-text-only {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: #000;
    font-family: "Bricolage Grotesque";
    font-size: 38px;
    font-style: normal;
    line-height: 40px; /* 105.263% */
    text-align: center;
}

#regular {
    font-weight: var(--font-weight-extra-light);
    font-size: var(--font-size-broed);
}
#bold {
    font-weight: var(--font-weight-bold);
}

#transport-text .button {
    color: #000;
    border-color: #000;
}

#transport-image {
    width: 50vw;
    height: 800px;
    background-image: url(/img/transport-image.png);
    background-size: cover;
}

#playlist {
    display: flex;
    height: 800px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
}

#playlist-text {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex: 1 0 0;
    align-self: stretch;
    padding: 150px;
}

#playlist-text-only {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: black;
    font-family: "Bricolage Grotesque";
    font-size: 38px;
    font-style: normal;
    line-height: 40px; /* 105.263% */
    text-align: center;
}


#playlist-text .button {
    background-color: var(--sunset-orange);
    color: black;
    border: none;
    width: fit-content;
}

#playlist-image {
    width: 50vw;
    height: 800px;
    background-image: url(/img/playlist-image.png);
    background-size: cover;
}

#connect {
    display: flex;
    height: 800px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    background-color: var(--ocean-blue);
}

#connect-text {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex: 1 0 0;
    align-self: stretch;
    padding: 150px;
}

#connect-text-only {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: white;
    font-family: "Bricolage Grotesque";
    font-size: 38px;
    font-style: normal;
    line-height: 40px; /* 105.263% */
    text-align: center;
}


#connect-text .button {
    box-sizing: border-box;
    border: 3px solid #FFF;
    background: none;
    color: white;
}

#connect-image {
    width: 50vw;
    height: 800px;
    background-image: url(/img/connect-image.png);
    background-size: cover;
}

#review-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    height: 450px;
}

#happy {
    font-family: var(--font-family);
    font-size: var(--font-size-titel-2);
    text-align: center;
}

.review-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 16px;
    gap: 16px;
}

.review-card {
    width: 400px;
    height: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 30px;
    background: var(--lighter-blue);
}

.review-info {
    font-family: "Bricolage Grotesque";
    color: white;
    gap: 10px;
}

.review-card:hover {
  transform: translateY(-1px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.review-card h2 {
  font-size: var(--font-size-titel-3)
}

.review-card .date-rating {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.review-card h3 {
  font-size: 1.2rem;
}

.review-card p {
    font-weight: var(--font-weight-extra-light);
}

#se-alle {
    color: white;
    border: none;
    background-color: var(--lighter-blue);
}

footer {
    display: flex;
    padding: 96px 120px 15px 120px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background: var(--ocean-blue);
}

#columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}


#columns ul li {
    color: #FFF;
    font-family: "Bricolage Grotesque";
    font-size:var(--font-size-broed-3);
    font-style: normal;
    font-weight:var(--font-weight-regular);
    list-style-type: none;
    padding: 10px 0 10px 0;
    margin: 0;
}

#columns ul li:hover {
    opacity: 50%;
    cursor: pointer;
}

#columns ul #list-bold {
    font-weight: var(--font-weight-bold);
}

#columns ul #list-bold {
    opacity: 100%;
    cursor:default;
}

#newsletter-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    padding: 40px;
}

#emaerke-trustpilot {
    display: flex;
    align-items: flex-end;
    gap: 50px;
}

#emaerke-trustpilot img:hover{
    opacity: 50%;
    cursor: pointer;    
}

#newsletter-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#newsletter-box h2 {
    color: #FFF;
    font-family: "Bricolage Grotesque";
    font-size: 32px;
    font-weight: var(--font-weight-regular);
}

#newsletter-box #input-button {
    display: flex;
    align-items: center;
    gap: 10px;
}
#newsletter-box #input-button #input {
    width: 300px;
    height: 32px;
    background: none;
    border: none;
    border-bottom: 2px solid #FFF;
    color: white;
    padding: 8px;
}

#tilmeld-button {
    color: var(--ocean-blue);
    border: none;
}

#bottom {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-top: 2px solid #FFF;
    color: #FFF;
    font-family: "Bricolage Grotesque";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#bottom-info {
    list-style-type: none;
    margin: 0;
}

#bottom-info li {
    float: left;
    padding: 10px;
}

#bottom-info li:hover {
    opacity: 50%;
    cursor: pointer; 
}

#language {
    display: flex;
    gap: 4px;
}